//! Переменные ...............................................

//* Цвета
$bg: #f6f7fb;
$title: #273164;
$text: #7c7c7c;

//* Размеры экранов и контейнеров
$minwidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1230;

//* Медиа запросы
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//! Миксины .................................................

//* Контейнер
@mixin container($mxw){
	max-width: $mxw;
  padding: 0 15px;
  margin: 0 auto;
}


//* Адаптивное свойство
@mixin adaptive($property, $startSize, $minSize, $type){
  $addSize: $startSize - $minSize;
  @if $type==1{
    //Если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidth + px}){
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else if $type==2{
    //Если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidth + px}){
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    //Всегда работает
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}


//* Подключение шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
